streamlit
langchain
langchain-openai
langchain-community
faiss-cpu
python-dotenv
pypdf
langchain-google-genai
langchain-text-splitters
lancedb
networkx
rank_bm25
sentence-transformers
pdfplumber
pillow
